

<h2 class="text-center mt-3">Հաղորդագրություններ</h2>

<div class="form-group" style="display:flex;justify-content: space-around;gap:100px;padding:0 200px;margin-top:10%">
    <div style="width:50%;height:200px">
        <p style="font-size:15px;">Բացակայությունների համար</p>
        <a asp-action="EmailLogForAbsences">

            <img id="pic" src="~/img/absent.jpg" style="width:100%;height:200px;border-radius:20%" />
        </a>
    </div>
    <div style="width:50%;height:200px">
        <p style="font-size:15px;">Ուսման վարձը չվճարածների համար </p>
        <a asp-action="EmailLogForUnPaids">

            <img id="pic" src="~/img/unpaid.png" style="width:100%;height:200px;border-radius:20%" />
        </a>
    </div>

   
</div>

